{% extends 'website/base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
</head>
<body>
{% block content %}
<div class="jumbotron jumbtron-fluid">
    <div class="container">
        <img src="{% static "website/images/jacek3.png" %}" class="circle-image" alt="Face">
        <img src="{% static "images/jacek3.png" %}" class="circle-image" alt="Face">
        <h1 class="display-4">Jacek Błażejewski</h1>
        <p class="lead">Accoustician, AI & Django developer</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col sm-col-4">
            <h3>About me</h3>
            <p class="text-justify">I am postgraduate bachelor in accoustics on UAM and master in econometrics and computer science on UEP.
                Knwoledge from both deegres let me write master thesis about emotion recognition from speech based on
                accoustic features and its usability in voice bots. With Django framework I am able to deploy machine
                learning models online, just like one on this website. I take part in project for Berlin based artist
                Andreas Greiner in which we try create high resolution images with generative addative neural networks
                combined with other deep learning architectures. Currently I am looking for full time job in Warsaw.
            </p>
        </div>
    </div>
</div>
{% endblock %}
</body>
